# Example of using qrid to display dataframes

In [10]:
from faker import Faker
import pandas as pd
import random
import qgrid

In [11]:
fake = Faker()

def create_rows(num=1):
    output = [{"name":fake.name(),
               "address":fake.address(),
               "name":fake.name(),
               "email":fake.email(),
               "bs":fake.bs(),
               "address":fake.address(),
               "city":fake.city(),
               "state":fake.state(),
               "date_time":fake.date_time(),
               "randomdata":random.randint(1000,2000)} for x in range(num)]
    return output

In [12]:
df = pd.DataFrame(create_rows(500))

In [13]:
df.head()

,name,address,email,bs,city,state,date_time,randomdata
0,Amy Stewart,"03977 Dennis Passage Suite 750\nEast Matthew, ...",douglaswright@campbell.com,matrix transparent solutions,East Kimberlyburgh,South Dakota,2019-09-01 17:19:44,1776
1,Steven Myers,"006 Mary Knolls\nPort Victoria, WI 77186",mkelly@perry.com,orchestrate open-source partnerships,New Breanna,Montana,1990-02-11 15:35:32,1143
2,Zachary Huff,"30816 Angela Lodge\nMurphychester, NJ 42202",munozlisa@romero.com,envisioneer integrated infrastructures,Jordanville,Nebraska,1981-05-19 13:58:22,1947
3,Richard Payne,"610 George Forge\nBrianville, KS 69321",solischelsea@young.com,enable ubiquitous partnerships,Hodgeland,New Jersey,1970-02-04 18:39:35,1145
4,Harold Clark,"9840 Taylor Well Suite 477\nNataliechester, MD...",kelleymatthew@rice-davila.net,synergize vertical mindshare,New Danieltown,Minnesota,1979-09-02 07:03:47,1424

In [14]:
qgrid.show_grid(df, show_toolbar=True)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦