# Plotting in Python

Adapted from [altair guide](https://altair-viz.github.io/index.html)

Create a dataframe

In [1]:
import numpy as np
import pandas as pd

import altair as alt

ModuleNotFoundError: No module named 'altair'

Create a random dataframe

In [3]:
index = pd.date_range('1/1/2000', periods=1000)
df = pd.DataFrame(np.random.randn(1000, 4), index=index, columns=list('ABCD')).cumsum()

df.head()

                   A         B         C         D
2000-01-01 -0.410314 -0.669895 -1.144860 -0.184736
2000-01-02  0.145041 -0.821041 -0.320072  1.886112
2000-01-03  1.794919 -1.735157 -0.458986  0.753425
2000-01-04  1.557024 -0.577114 -0.199829  0.900990
2000-01-05  2.099757 -1.078408 -0.279229  1.016515

In [4]:
from vega_datasets import vdata

ModuleNotFoundError: No module named 'vega_datasets'